version: '3.8'

services:
  mysql:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=agrosechura
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - docker_mysql_php
  
  sistema:
    build: ./sistema
    ports:
      - "8080:8080"
    volumes:
      - ./sistema:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura
    restart: always

  sistema-vue:
    build: ./system-vue-front
    ports:
      - "3000:3000"
    volumes:
      - ./system-vue-front:/app
      - /app/node_modules
    networks:
      - docker_mysql_php

volumes:
  mysql-data:

networks:
  docker_mysql_php:
    driver: bridge
    