version: '3.8'

services:
  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=agrosechura
    volumes:
      - mysql-data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - docker_mysql_php
  
  clientes:
    build: ./clientes
    ports:
      - "8081:8081"
    volumes:
      - ./clientes:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  compras:
    build: ./compras
    ports:
      - "8082:8082"
    volumes:
      - ./compras:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  inventario:
    build: ./inventario
    ports:
      - "8083:8083"
    volumes:
      - ./inventario:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  productos:
    build: ./productos
    ports:
      - "8084:8084"
    volumes:
      - ./productos:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  proveedores:
    build: ./proveedores
    ports:
      - "8085:8085"
    volumes:
      - ./proveedores:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  reportes:
    build: ./reportes
    ports:
      - "8086:8086"
    volumes:
      - ./reportes:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  usuarios:
    build: ./usuarios
    ports:
      - "8087:8087"
    volumes:
      - ./usuarios:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  ventas:
    build: ./ventas
    ports:
      - "8088:8088"
    volumes:
      - ./ventas:/var/www/html
    networks:
      - docker_mysql_php
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=agrosechura

  nginx:
    image: nginx:1.19
    ports:
      - "81:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - clientes
      - compras
      - inventario
      - productos
      - proveedores
      - reportes
      - usuarios
      - ventas
    networks:
      - docker_mysql_php

volumes:
  mysql-data:

networks:
  docker_mysql_php:
    driver: bridge
    