body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.pagination {
    margin-top: 20px;
}
.pagination a {
    color: #4CAF50;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}


/* Grupos de entrada */
.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.input-group input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.button{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);

}

.button-error{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #f44336;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}


.error{
    color: red;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}