/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    min-height: 100vh;
    color: #333;
}

.content-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Contenedor principal */
.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}

/* Título */
.login-box h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}

/* Grupos de entrada */
.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.input-group input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

/* Botón de ingreso */
button {
    width: 100%;
    padding: 0.75rem;
    background: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}


button:hover {
    background: #2575fc;
}

/* Enlaces adicionales */
.links {
    margin-top: 1.5rem;
}

.links a {
    color: #6a11cb;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #2575fc;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ccc;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.pagination {
    margin-top: 20px;
}
.pagination a {
    color: #4CAF50;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px!important;
    background-color: white;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.content{
    padding-left: 20px;
    padding-right: 20px;
}



.button-error{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #f44336;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.title{
    text-align: center;
    font-size: 2rem;
    color: #fffefe;
}

.subtitle{
    text-align: center;
    font-size: 1.5rem;
    color: #fffefe;
}